<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= planet.name %></title>
</head>
<body>
    <h1><%= planet.name %></h1>
    <p><%= planet.description %> </p>
<!-- new delete button -->
<form action="/planets/<%=planet._id%>?_method=DELETE" method="POST">
    <button type="submit">Delete <%= planet.name %></button>
</form>  
    <a href="/planets/<%= planet.id %>/edit">Edit <%= planet.name %> </a>
    <a href="/planets">Planets Index</a>
</body>
</html>